@{
    ViewData["Title"] = "About Us";
}

<div class="container text-start">
    <h1 class="text-center">About Us</h1>
    <div class="d-grid gap-3 align-items-start ">
        <div class="p-2">
            <h2 class="text-start">History</h2>
            <div class="text-center">Since September 2023, we've been providing and delivering football kits to customers around the globe. We started as a local business, and continued to expand our services across the United States. Since then, we've went global to supply even more football fans with our official and replica kits.</div>
        </div>
        <div class="p-2">
            <h2 class="text-start">Mission</h2>
            <div class="text-center">Our mission is simple. It's to consistently provide high quality kits to our customers for reasonable prices. From official kits to high quality replicas, we constantly deliver what we advertise to customers.'</div>
        </div>
        <div class="p-2">
            <h2 class="text-start">Vision</h2>
            <div class="text-center">We want the beautiful game to be even more accessible. Football kits allow you to connect better with your favorite teams, players, and the sport as a whole. We want kids and adults to experience this without breaking the bank.</div>
        </div>
    </div>
</div>
