@{
    ViewData["Title"] = "Events";
}

<h1>Events</h1>

<section class="d-flex flex-column">

    <div class="card" style="max-width: 40rem; margin-bottom: 2rem;">
        <img src="/images/donation.jpg" class="card-img-top" alt="Clothing">
        <div class="card-body">
            <h5 class="card-title">Clothes Drive</h5>
            <p class="card-text">Giving back to impovershed communities across the United States.</p>
            <p class="card-text">All Ages Welcome</p>
            <p class="card-text">December 7th - 31st</p>
            <p class="card-text">Zoom - 5pm to 7pm</p>
            <a href="#" class="btn btn-primary">Register</a>
        </div>
    </div>

    <div class="card"  style="max-width: 40rem; margin-bottom: 2rem;">
        <img src="/images/feeding.jpg" class="card-img-top" alt="Food">
        <div class="card-body">
            <h5 class="card-title">Food Drive</h5>
            <p class="card-text">Providing Meals for the Youth.</p>
            <p class="card-text">All Ages Welcome</p>
            <p class="card-text">December 24th</p>
            <p class="card-text">352 Main St. Cleveland, OH - 1pm - 10pm</p>
            <a href="#" class="btn btn-primary">Register</a>
        </div>
    </div>

    <div class="card"  style="max-width: 40rem; margin-bottom: 2rem;">
        <img src="/images/soccer.jpg" class="card-img-top" alt="Soccer">
        <div class="card-body">
            <h5 class="card-title">Youth Match</h5>
            <p class="card-text">Kids play in a charity tournament - divided into 4 age groups.</p>
            <p class="card-text">8 - 18 yo.</p>
            <p class="card-text">November 30th, December 7th, December 16th.</p>
            <p class="card-text">28045 Charleston St., Westlake, OH - Starts at 5pm.</p>
            <a href="#" class="btn btn-primary">Register</a>
        </div>
    </div>

    <div class="card"  style="max-width: 40rem; margin-bottom: 2rem;">
        <img src="/images/elders.jpg" class="card-img-top" alt="Elderly">
        <div class="card-body">
            <h5 class="card-title">Elderly Event</h5>
            <p class="card-text">Giving back to impovershed communities across the United States.</p>
            <p class="card-text">55+ yo.</p>
            <p class="card-text">December 15th</p>
            <p class="card-text">30335 Abbigail End., Westlake, OH - All Day</p>
            <a href="#" class="btn btn-primary">Register</a>
        </div>
    </div>

</section>


