@{
    ViewData["Title"] = "FAQ";
}

<h1>Frequently Asked Questions</h1>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                What is the Refund Policy?
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Refunds can be issued for a variety of reasons. For example, recieving the wrong item or a damaged/poor quality product. Generally, refunds do NOT include the shipping and handling fees of the initial order. To prevent the refund system from being abused, there is a limit to the number of orders you can refund per month <strong>as well as beign based on the reason(s) given.</strong> If we suspect abuse, we will not refund your order for a time. Repeated abuse will get you and your address banned for a specified period of time.
            </div>
        </div>
    </div>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    Why Don't I See Any Apparel for a Team or League?
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                We simply just don't have it. However, rest assured that we are constantly expanding what we allow on our site. We have to verify the sellers and their product before putting anything for sale.
            </div>
        </div>
    </div>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                How Can I Verify That This Jesery is an Official One?
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                All authentic jerseys have badges that ARE NOT embroidered. They also have an "Authentic Sticker" on them.
            </div>
        </div>
    </div>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                How Can I Sell My Product?
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                In order to be able to sell on our website, you must undergo a verification process in which the quality and consistency of your product is validated. Personal information is required, as well as any business information if applicable.
            </div>
        </div>
    </div>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                How Would I Get Banned?
            </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                The main causes are intentional false advertising, selling poor/damaged/ products, any kind of scamming, any kind of innappropriate behavior with customers/sellers, and abusing the refund process. We will always send you a detailed reason as to why you were banned and for how long.
            </div>
        </div>
    </div>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                How Can I Get a Permanent Ban Reversed?
            </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Generally, a permanent ban cannot be reversed. Some offenses are unforgivable - such as scamming and certain types of innappropriate behavior (death threats and sexual misconduct). Asides from things of that nature, or repeated abuse, bans are rarely issued and usually have a time limit before they're lifted. Warnings are issued in advance (for refund abuse, for example) and our guidelines are clear and easily digestible. The only way to get it reveresed would be in the case of a wrongful type of ban. You'd have to follow the steps to file an appeal, before it is reviewed and - if needed - an investigation launched.
            </div>
        </div>
    </div>