@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-start">
    <h1 class="text-center">Welcome to Rasheed's Apparel</h1>
    <div class="row align-items-start">
        <h6 class="col">Find 100's of official and replica sports kits from across all major football leagues and countries. Whether to support your favorite team, or simply to look stylish - buying sport's apparel shouldn't break the bank. Official kits are reasonably priced, while replicas offer a cheaper yet high quality replacement.</h6>
        <h6 class="col">Rasheed's Apparel has you covered! Whether it's the Premier League to the Bundesliga, and even beyond. Current kits and retro ones alike - even fanmade ones as well! There's no limit to what you can buy - and to how much you can save!</h6>
    </div>
    
    <img src="~/images/bluelock.jpg" class="img-fluid rounded"/>
</div>

